[Unit]
Description=Surge XT Crash Watchdog
After=surge-xt-cli.service
BindsTo=surge-xt-cli.service

[Service]
Type=simple
User=@MPE_PI_USER@
EnvironmentFile=-/etc/mpe/mpe.env
RuntimeDirectory=mpe
RuntimeDirectoryPreserve=yes
ExecStart=@MPE_SCRIPTS_DIR@/surge-watchdog.sh
TimeoutStopSec=10
KillMode=control-group
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
